.aboutImg{
    height: 442px;
    width: 100%;
    background-color: #1e242d;
}
/* 
display: flex;
*/
.about-section{
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: space-evenly;
    /* height: 55vw; */
    width: 100%;
    background-color: #1e242d;
    text-align: left;
    /* padding: 11rem 6rem; */
    /* justify-content: center; */
    /* height: 900px; */
  }
/* .about{ */
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    height: 800px;
    background-color: #1e242d;
    text-align: left;
    padding: 11rem 6rem; */
/* } */
.aboutText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* height: 800px; */
    background-color: #1e242d;
    text-align: left;
    padding: 11rem 6rem;
}

.resume-btn{
    border: 2px solid;
    padding: 12px;
    width: fit-content;
    cursor: pointer;
    margin: 30px 0;
}
.resume-btn:hover{
    color: rgb(35, 35, 139);    
    transition: 0.5s;
}
.resume-btn span{
    padding-left: 10px;
}

@media screen and (max-width: 950px) {
    .about-section , .container{
        flex-direction: column;
        width: 100vw;
    }
    .aboutText{
        padding:2rem;
    }
  }