.contact-container{
    padding: 7rem 0;
    background-color: #1e242d;
}

.contact-text{
    width: 50%;
    margin: 0 70px;
}

.contact-text a{
    color: white;
    font-weight:600 ;
    text-decoration: none;
}

.contact-text a i{
padding-right: 10px;
}

.contact-text a:hover{
    color: rgb(35, 35, 139);
}

.contact-text p{
    margin-top: 0;
}

.font-roboto{
    font-family: 'Roboto Mono', monospace;
    font-size: 27px;
    color: rgb(105,25,255);
}

#contact-form label{
    display: block;
}

#contact-form input,
textarea
 {
    font-weight:normal;
    font-size: 18px;
    color: white;
    width: 100%;
    height: 44px;
    margin: 12px 0px;
    border: 1px solid white;
    border-radius: 5px;
    padding: 12px 5px;
    background-color: rgb(31, 39 , 49);
    resize: vertical;
}
input:focus{
    font-weight:normal;
    font-size: 18px;
    color: white;
}

textarea {
    height: 100%;
}

button{
    background-color: white;
    padding: 10px;
    font-size: 15px;
    font-weight: 500;
}

.submit-btn:hover {
    background-color: rgb(35, 35, 139);
    border: 2px solid white;
    color: white;
    transition: 0.5s;
}

.emai-success {
    color: green;
    font-weight: bold;
    padding: 12px 13px;
    border: 2px solid white;
    margin: 16px 0px;
    width: 78%;
    background-color: #1E242D;
}

@media screen and (max-width: 900px) {
    .contact-container .container{
        flex-direction: column;
        }
    .contact-text{
        width: 100%;
        padding: 12px 12px;
    }
}