.project{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: rgba(53, 53,53);
    color: whitesmoke;
    /* height: 480px; */
    border-radius: 1%;
    box-shadow: 0 4px 8px 0 var(--shadow-color);
    max-width: 360px;
    margin: auto;
    padding: 14px;
    text-align: center;
    font-family: arial;
    transition: all 0.3s ease-in-out;
}
  .project:hover {
    transform: scale(1.02);
  }
  
/*.projectImg {
     height: 35%;
    width: 92%;
    margin: 14px; 
} */

.projectText{
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: center;
    padding: 3px 25px;
}

.projectName{
    font-size:23px;
    font-weight: bold;
}
.project-description {
text-align: left;
}
hr{
    width: 50px;
  height: 3px;
  border: 0;
  background: #d0bb57;
}
.stack{
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-weight: bold;
    height: 120px;
}
/* .stack div{
    margin: 17px 9px;
} */
.stack p{
    margin: 0;
}
.tech{
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
    justify-content: space-around;
}
.tag{
    font-weight: lighter;
    color: whitesmoke;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    margin: 0px 3px;
    width: 27%;
    padding: 13px;
    border: 1px solid whitesmoke;
    border-radius: 20%;
}

.actions{
    margin: 62px 3px;
}
.action{
    background-color: #EFF4FF;
    border: 1px solid;
    /* width: 96%; */
    font-size: 24px;
    color: black;
    padding: 10px 10px;
    /* text-align: center; */
    /* text-decoration: none; */
    display: inline-block;
    margin: 3px;
    border-radius: 21%;
}
.tag:hover{
    box-shadow: 0px 2px 10px 0px var(--shadow-color);
    transition: 0.5s;
    /* box-shadow: 0 4px 8px 0 var(--shadow-color); */
}
.action:hover{
    color: wheat;
    background-color: black; 
    border: 1px solid var(--shadow-color);
    transition: 0.5s;
}


@media screen and (max-width: 440px) {
    .project {
        height: 100%;
        width: 80vw;
        flex-direction: column;
    }

    .stack{
        justify-content: center;
        /* margin: 0 30px; */
    }
    .tag{
        padding: 10px;
    }
    .actions{
        margin: 65px 3px;
    }
    .stack div{
        margin-left: 10px;
    }
    .actions a {
        font-size: 18px;
    }
    /* .projectImg{
        width: 92%;
        height: 60%;
        margin: 14px
    } */
    .projectText{
        width: 100%;
    }
}
