.project{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: white;
    height: 580px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 360px;
    margin: auto;
    text-align: center;
    font-family: arial;
}

.projectImg {
    height: 35%;
    width: 100%;
    /* border-radius: 10px; */
    
}

.projectText{
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: center;
    padding: 3px 25px;
}

.projectName{
    font-size:23px;
    font-weight: bold;
}
.project-description {
text-align: left;
}
hr{
    width: 50px;
  height: 3px;
  border: 0;
  background: #d0bb57;
}
.stack{
    text-align: center;
    font-weight: bold;
}
.tag{
    font-weight: lighter;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 3px 15px;
}
.actions{
    margin: 10px 0;
}
.btn{
    background-color: #EFF4FF;
    border: 1px solid;
    width: 46%;
    color: black;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 3px;
    border-radius: 100px;
}

.btn:hover{
    background-color: #c9d9fa; 
}


@media screen and (max-width: 440px) {
    .project {
        height: 56vh;
        width: 80vw;
        flex-direction: column;
    }
    .projectImg{
        width: 100%;
        height: 60%;
    }
    .projectText{
        width: 100%;
    }
}