 @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
*{
  box-sizing: border-box;
}
body{
  /* background-image: url('./img/1091500.jpg'); */
  background-image: url('./img/bg.avif');
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    height: fit-content;
    /* height: 100vh; */
    /* padding: 60px 15px; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
/* .bg-black {
      background-color: black;
  }
.bg-main {
      background-color: rgba(47, 49, 53);
  } */
.m-auto{
  margin: auto auto;
}
.color-white {
color: white;
}
.flex-column{
  flex-direction: column;
}
.flex-row{
  flex-direction: row;
}

.big-text{
  font-size: 30px;
  font-weight: bold;
}

.small-text{
  font-size: 18px;
}

.font-family-roboto{
  font-family: 'Roboto Mono', monospace;
}